.product-list li{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	display: inline;
}

.product-name {
    
}

.product_price {
    
}

.product-info {

}

.order-info {

}

.product-list-container {

}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-default {
	opacity: 0.9;
	margin-top:30px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.form-group.last { margin-bottom:0px; }

.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}